{
	acme_dns cloudflare {{ vault_cloudflare_api_token }}
}

git.imkumpy.in {
	reverse_proxy gitlab.imkumpy.in:443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

omada.imkumpy.in {
	reverse_proxy 192.168.0.95:8043 {
		transport http {
			tls_insecure_skip_verify
		}
		header_up Host {host}:8043
		header_down Location :8043 :443
	}
}

ryzen-proxmox.imkumpy.in {
	reverse_proxy 192.168.0.100:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
